
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --primary-text-color: #183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --padding-inline-section: 29px;
    --accent-color-dark:#4fb3d4;
}
body{
    /* //background-color: aliceblue; */
    font-family: sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
    /* //font-family: ro; */
}
h2{
    font-size: 2rem;

}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.25rem;
    font-family: sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.8rem;

}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
/* utility classes */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.flex{
    display: flex;
    align-items: center;
}

.hover-link:hover{
    /* color: var(--primary-text-color); */
    color: aqua;
    /* font-size: 18px; */
    transition: 0.2s ease-in-out;

}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px  var(--secondary-text-color);
    transition: 0.2s ease-out;

}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
    padding: 12px 24px;

}
.secondary-button:hover{
    
    border-color: var(--accent-color);
    border-color: var(--accent-color)!important;
}

/*top banner  */


.top-banner{
    background-color: #4fb3d4;
   background-image: url(img/IMG-20241203-WA0004.jpg); 
   background-size: 300px;  
   /* background-repeat: no-repeat;  */
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
/* navebar */
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}
.company-logo-img{
    width: 200px;
}
.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}
/* header section */
header{
    padding: 50px var(--padding-inline-section);
}
.header-section{
    justify-content: center;
    gap: 50px;
}
.header-left{
    max-width: 40vw;
}

.header-left h1{
    margin-top: 20px;
}
.get-stated-btn{
    margin: 20px;
}
.imageone{
    width: 563px;
    height: 600px;
}
/* my class */
.myclasss{
    padding: 0px;
    /* margin: 0; */
    margin-top: 0px;
}
/* companies section  */
.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
    font-size: 40px;
}
.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height: 70px;
    width: 70pxpx;
}

/* feature setion */

.features-section{
   
    margin-top: 60px;
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(img/sivaa.jpg);
    background-repeat: no-repeat;
    background-position: center
       
}
.feature-header{
    text-align: center;
    
}
.feature-header h2{
    margin-top: 20px;
}

.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}
.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}
/* big feature section */
.big-feature-section{
    padding: 3-px var(--padding-inline-section) 0;

}
.big-feature-container{
    gap: 30px;
}
.feature-img img{
    width: 563px;
    height: 600px;
}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;

}
/* exampla- section */
.exampal-header{
flex-direction: column;
gap: 20px;
}


/* .exampal-heading-text{
    margin-bottom: 20px;
} */
.exampal-area{
    justify-content: space-between;
    margin-block: 30px;
 }

/* exampal- card */
.exampal-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: rgb(201, 135, 135);
    background: linear-gradient(rgb(0, 0, 0, 0.1),rgb(0, 0, 0,0.1)), url(img/IMG-20241203-WA0006.jpg);
    background-size: cover;
    transition: 0.2s;
}   
.exampal-card:hover{
    box-shadow: 0 0 10px #888;
}

.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 2px;
    color: rgb(164, 18, 18);
}
.exampal-card:nth-child(2){
    background: linear-gradient(rgb(0, 0, 0, 0.1),rgb(0, 0, 0,0.1)), url(img/IMG-20241203-WA0008.jpg);
    background-size: cover;

}
.exampal-card:nth-child(3){
    background: linear-gradient(rgb(0, 0, 0, 0.1),rgb(0, 0, 0,0.1)), url(img/IMG-20241203-WA0007.jpg);
    background-size: cover;

}
.exampal-card:nth-child(4){
    background: linear-gradient(rgb(0, 0, 0, 0.1),rgb(0, 0, 0,0.1)), url(img/IMG-20241203-WA0005.jpg);
    background-size: cover;

}
/* cta section */
.cta-section-containers{
    flex-direction: column;
    gap: 30px;
    color: white;
    text-align: center;

}
 
.cta-section{
    padding: 120px;
    background-color: #104d79;
}
#firstp{
    color: white;
    margin-top: 30px;
}
.gets{
    margin-top: 20px;
}
/* footer section */

.footer{
    padding: 80px;
    background-color: #ebf2fa;
}
.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.compnay-logoss img{
    height: 300px;
    width: 300px;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}
/* sub footer  */
.subfooter{
    background-color:rgb(109, 184, 197) ;
    padding: var(--padding-inline-section);

}
.subfooter-continer{
    justify-content: center;
    gap: 30px;
}